{% extends 'base1.html' %}
{% block body_block %}

  <div class="container">
    <div class="jumbotron">
User List :
{% for u in users %}
<ul>
    
        <li><a href="/messages/{{u.username}}">{{u.username}}</a>
            {% for s in status %}
            {% if s.user == u %}
                {% if s.session != 0 %}
                    <span style="height: 12px;width: 12px;background-color: #1fc124;border-radius: 6px;
                    float: right;margin-top: 5px;"></span>
                {% else %}
                    <span style="height: 12px;width: 12px;background-color: #8a8a8a;border-radius: 6px;
                    float: right;margin-top: 5px;"></span>
                {% endif %}
            {% endif %}    
            {% endfor %}
        </li>
    

</ul>
{% endfor %}
    
{% endblock %}